<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Open Uptown</h2>
        <p>Chicago's Code for America Brigade! We forge partnerships between neighbors who use technology to improve interactions with, and access to, public services.
          Whether you're a technologist, designer, journalist, public servant, or curious community member- there is a place for you here!
          Join us for our co-working, project, service, and social events!
        </p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-teal" href="https://uptown-codes.herokuapp.com/" role="button" target="_blank"><i class="fa fa-slack"></i>
            Slack Signup</a></p>
        <p><a class="btn btn-teal" href="https://www.meetup.com/Code-and-Coffee-Uptown-Brigade/" role="button" target="_blank"><i class="fa fa-calendar"></i> Meetup</a></p>
        <p><a class="btn btn-teal" href="https://github.com/Code-and-Coffee-Uptown-Brigade/" role="button" target="_blank"><i class="fa fa-github-alt"></i> GitHub</a></p>
        <p><a class="btn btn-teal" href="https://twitter.com/codeuptown" role="button" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></p>
        <p><a class="btn btn-teal" href="https://github.com/Code-and-Coffee-Uptown-Brigade/codeofconduct/blob/master/README.md" role="button" target="_blank"><i class="fa fa-gavel"></i> Code of Conduct</a></p>
      </div>
    </div>
  </div>
</div>
