<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div class="titleUpper">Open Uptown</div>
        <div class="titleLower">Chicago</div>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a class="" href="https://github.com/Code-and-Coffee-Uptown-Brigade" role="button"><i class="fa fa-github-alt"></i></a></li>
        <li><a class="" href="https://www.meetup.com/openuptown" role="button"><i class="fa fa-calendar"></i></a></li>
        <li><a class="" href="http://www.twitter.com/open_uptown" role="button"><i class="fa fa-twitter"></i></a></li>
        <li><a class="" href="https://cacuptown.slack.com/" role="button"><i class="fa fa-slack"></i></a></li>
        <li><a class="" href="https://github.com/Code-and-Coffee-Uptown-Brigade/codeofconduct/blob/master/README.md" role="button" target="_blank"><i class="fa fa-gavel"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
