$brand-red: #BD3245;
$brand-red-dark: #0299AE;
$brand-teal: #5EA9EF;
$brand-teal-light: #E7DCD3;
$slightly-bold: 500;

a {
  text-decoration: none;
  color: $brand-red;
  &:visited {
    color: $brand-red;
  }
  &:hover {
    color: $brand-red-dark;
    text-decoration: none;
  }
}

.teal {
  color: $brand-red;
}

.btn-teal {
  background: white;
  border: 2px solid $brand-teal;
}

.slightly-bold {
  font-weight: $slightly-bold;
}

.jumbotron {
  background-color: $brand-teal;
  border-top: 3px solid $brand-red;
  h2 {
    display: inline-block;
    border-bottom: 1px solid white;
  }
  color: white;
  p {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: $brand-teal;
    &:hover {
      color: $brand-red;
      text-decoration: none;
    }
  }
}

.panel-default {
  border: 1px solid $brand-teal;
  &>.panel-heading {
    font-weight: $slightly-bold;
    background-color: $brand-teal;
    border-bottom: 3px solid $brand-red;
    a{
      color: white;
    }
  }
  a {
    color: $brand-red;
  }
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 3px solid $brand-red;
  height: 70px;
  a {
    font-size: 1.3em;
    font-weight: $slightly-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .titleUpper {
    font-size: 20px;
  }

  .titleLower {
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .navbar-nav {
    margin-top: 6px;
    font-size: 18px;
  }

}

.instagram-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.instagram-image-link {
  flex-shrink: 0;
  text-align: center;
}

.instagram-image {
  height: 150px;
}

.twitter-timeline {
  a{
    color: $brand-red !important;
  }
}
